.formulario{
    /* display: flex; */
    text-align: center;
    margin-top: 40px;
    border: 2px solid rgb(241, 36, 36);
}
.elegirColor{
  padding: 40px;
    background: rgb(244, 138, 138);
}
.boton{
    background-color: rgb(240, 249, 4);
    margin: 10px;
}
.titulo{
    font-size: 25px;
}